/* 03-08-2021 Commit */
* {
  outline: none !important;
  box-sizing: border-box;
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: Poppins,sans-serif;
  font-weight: 400;
  margin: 0;
}
.container {
  display: block;
  width: 100%;
  max-width: 1650px;
  padding: 0 25px;
  margin: 0 auto;
}
.rel {
  position: relative !important;
}
.text-center {
  text-align: center !important;
}
.justify-center {
  justify-content: center !important;
}
.center-it {
  display: block !important;
  margin: 0 auto !important;
}
.flex-box-1 {
  display: flex;
  height: 100%;
}
.flex-center {
  align-self: center;
}
.no-disp {
  display: none !important;
}

/* Header CSS */
header {
    font-family: Poppins SemiBold,sans-serif;
    background-color: transparent;
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0;
}
.header-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 126px !important;
  max-width: 1650px;
  padding: 0 25px;
  margin: 0 auto;
}
header nav.left-nav {
    width: 35%;
    text-align: left;
    align-self: center;
}
header nav.left-nav img {
    max-height: 56px;
}
header nav.right-nav {
    width: 65%;
    text-align: right;
    align-self: center;
}
header .header-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .header-nav-list li {
    display: inline-flex;
}
header .header-nav-list a, header .header-nav-list button {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    margin: 0 24px;
    line-height: 24px;
    color: #fff;
    font-family: Poppins SemiBold,sans-serif;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: all .4s ease;
}
header .header-nav-list button:last-child {
    margin-right: 0;
}
.pink-dot {
    color: #DB9195;
}
.header-nav-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #fff;
}
.cart-item-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #DB9195;
    color: #202248;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 9px;
}
.hero {
    height: 66.66666666666667vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    background-position: center;
    background-size: cover;
    /* margin-bottom: 80px; */
}
.hero-homepage {
    background: linear-gradient(45deg, #1F2AC9, #303CF4);
}
.hero-heading {
  margin: 0px;
  width: 100%;
  max-width: 800px;
  text-align: left;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 56px;
  line-height: 72px;
  color: #fff;
}

/* 04-08-2021 Commit */
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.marg-top {
  margin-top: 80px !important;
}
.marg-bottom {
  margin-bottom: 80px !important;
}
.padd-top {
  padding-top: 80px !important;
}
.padd-top {
  padding-bottom: 80px !important;
}
.services-section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70vw;
  max-width: 1440px;
  height: 240px;
}
.services-block {
  width: 100%;
  max-width: 680px;
  background-color: #DB9195;
  color: #fff;
  text-decoration: none;
}
.services-block:first-child {
  border-right: 2px solid rgba(255,255,255,0.5);;
}
.services-block .flex-box-1 {
  max-width: 320px;
  margin: 0 auto;
}
.services-heading {
  width: 100%;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #202248;
  text-align: left;
  margin: 0 0 30px;
}
.bullets-pts {
  font-size: 14px;
  margin-right: 8px;
}
.services-text {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: Poppins SemiBold,sans-serif;
  margin: 0;
}
.services-block .services-heading img {
  margin-left: 12px;
  height: 16px;
}
.explore-link {
  position: absolute;
  right: 25px;
  bottom: 0;
  margin-bottom: 44px;
}
.explore-link a {
  display: flex;
  align-items: center;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  text-decoration: none;
}
.explore-link img {
  width: 32px;
  height: 32px;
  display: block;
  margin-left: 16px;
}
.blue-background {
    background-color: #2631D4;
}
.pink-background {
    background-color: #DB9195;
}
.middle-section {
    padding: 160px 0;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-img-1 {
    width: 40%;
    align-self: center;
}
.col-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.col-txt-1 {
    width: 50%;
    align-self: center;
}
.dear-digital-text {
    display: block;
    color: rgba(255,255,255,0.5);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}
.middle-section .col-txt-1 h3 {
    max-width: 800px;
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin: 16px 0 44px;
}
.middle-section .col-txt-1 p {
    max-width: 640px;
    color: rgba(255,255,255,0.5);
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 40px;
}
.btn {
    width: 480px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    text-decoration: none;
    padding: 0 40px;
}
.rectangle-2 {
    width: 100%;
    max-width: 1600px;
    height: 595px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 24px 0 rgba(32,34,72,0.4);
    margin: 0 auto;
}
.our-services {
    display: flex;
    color: #8F94E4;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 40px 160px 30px;
    text-transform: uppercase;
}
.rectangle-2 .our-services-block {
    display: flex;
    padding: 0 105px;
}
.col-one-three, .col-two-three {
    display: block;
    /* align-self: center; */
    width: 30%;
    max-width: 416px;
}
.our-services-heading {
    display: flex;
    align-items: center;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
}
.our-services-heading-2 {
    display: flex;
    align-items: center;
    max-width: 400px;
    color: #202248;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 40px;
}
.our-services-heading img {
    width: 40px;
    height: 37px;
    margin-right: 16px;
}
.accordion-wrapper {
    max-width: 360px;
    border-bottom: .5px solid #000;
    margin: 0;
    margin-left: 56px;;
}
.accordion {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: .4s;
    margin: 0!important;
    position: relative;
    color: #202248;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    /* padding-right: 40px; */
}
.accordion .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background-color: #DB9195;
    border: 2px solid #DB9195;
    -webkit-transition-property: background,-webkit-transform;
    transition-property: transform,background,-webkit-transform;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    /* position: absolute;
    right: 0; */
}
.panel {
    padding: 0;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
.panel-max {
    max-height: none!important;
}
.panel p {
    margin: 0 0 16px;
}
.services-btn {
    width: 400px !important;
    color: rgba(32,34,72,0.4) !important;
    border: 2px solid rgba(32,34,72,0.4) !important;
}
.contact-us {
    height: 480px;
}
.contact-us h3 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
}
.contact-us a {
    color: #202248;
    margin: 0 auto;
}
.contact-us .pink-dot {
    color: #fff;
}

@media (min-width: 1601px) {
  .explore-link {
    right: calc( 10% - 170px )%;
  }
}

/* 05-08-2021 Commit */
body span {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
@media (min-width: 1024px) and (max-width: 1600px) {
  .rectangle-2 .our-services-block {
    padding: 0 20px;
  }
  .our-services {
    margin: 40px 80px 30px;
  }
  .work-section {
    max-width: 900px !important;
    padding: 0 25px !important;
    left: 1% !important;
    right: 1% !important;
  }
  .work-type {
    font-size: 16px !important;
    padding: 0 12px !important;
  }
  .work-explore-link {
    margin: 40px 0 0 !important;
  }
  .contactpage-hero {
    height: 180vh !important;
  }
}

@media (max-width: 1360px) {
  .services-btn {
    width: 300px !important;
  }
}

button {
  background: transparent;
  cursor: pointer;
}
.hero-workpage {
    background: linear-gradient(45deg, #13005E, #02008B);
}
.hero-workpage .middle-section .col-txt-1 {
    width: 70%;
}
.hero-workpage .middle-section .col-txt-1 p {
    max-width: 510px;
}
.work-explore-link {
    margin: 80px 0 0;
}
.work-explore-link a {
    display: flex;
    align-items: center;
    font-family: Poppins SemiBold,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    text-decoration: none;
}
.work-explore-link img {
    width: 32px;
    height: 32px;
    display: block;
    margin-left: 16px;
}
.work-section {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 100%;
    max-width: 1280px;
    height: 120px;
    background-color: #1F2AC9;
    margin: 0 auto;
    padding: 0 105px;
}
.work-type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 24px;
    cursor: pointer;
}
.work-type:first-child {
    padding-left: 0;
}
.work-type:last-child {
    padding-right: 0;
}
.work-selected {
    color: rgba(255, 255, 255, 1);
}
.user-select-none {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.products-section {
    background-color: #FAFAFD;
}
.our-products {
    width: 100%;
    height: 528px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.our-products .product-img {
    display: flex;
    width: 40%;
    position: relative;
}
.product-img .product-mobile-img {
    position: absolute;
    right: 0;
    top: 80px;
    width: 220px;
    height: 448px;
    z-index: 3;
    object-fit: cover;
    box-shadow: 8px 8px 16px 0 rgba(32,34,72,0.2);
    border: 2px solid #fff;
    border-radius: 16px;
}
.product-img .product-desktop-img {
    width: 480px;
    height: 362px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 16px;
    z-index: 1;
}
.our-products .product-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    align-self: center;
}
.product-contents .product-heading {
    color: #202248;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 32px;
}
.product-contents .product-desc {
    display: flex;
    justify-content: space-between;
}
.product-contents p {
    width: 40%;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
}
.product-contents ul.product-list {
    width: 50%;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
    list-style:none;
    margin: 0;
    padding: 0;
}
.product-contents ul.product-list li {
    color: #202248;
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 9px;
    padding-left: 40px;
    background-image: url("assets/icons/development.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.product-contents ul.product-list li:last-child {
    margin: 0;
}
.product-link {
    width: 132px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202248;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    margin-top: 40px;
    border-bottom: 2px solid #DB9195;
}
.product-link img {
    width: 12px;
    height: 8px;
    margin-left: 24px;
}
.rev-cols .product-img {
    justify-content: flex-end;
}
.rev-cols .product-img .product-mobile-img {
    left: 0;
    right: auto;
}
.rev-cols .product-img .product-desktop-img {
}

.fade-product {
    background: linear-gradient(0deg, #FAFAFD, rgba(250,250,253,0));
}
.load-more-btn {
    width: 178px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F1DFE0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.work-contact-block .our-services-heading, .work-contact-block .contact-us a {
    color: #fff;
}
.work-contact-block .contact-us .pink-dot {
    color: #DB9195;
}

.contactpage-hero {
    height: 142vh;
    max-height: none;
}
.contactpage-hero .middle-section {
    width: 100%;
    padding: 306px 0 0 0;
}
.contactpage-hero .middle-section .col-txt-1 {
    align-self: flex-start;
}
.contactpage-hero .middle-section .col-txt-1 h3 {
    max-width: 450px;
    margin-top: 0;
}
.contactpage-hero .middle-section .col-txt-1 p {
    max-width: 520px;
}
.contactpage-hero .col-txt-1 h4 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
    margin-bottom: 40px;
}
.contactpage-hero .col-txt-1:last-child {
    max-width: 640px;
    margin-left: auto;
}
.contact-address, .contact-address a {
    width: fit-content;
    display: block;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}
.contact-address a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 40px;
}
.underline-pink {
    border-bottom: 2px solid #DB9195;
}
#customer-contact label {
    display: block;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
#customer-contact input {
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;
}
#customer-contact input::placeholder {
    color: rgba(255,255,255,0.5);
    opacity: .5; /* Firefox */
}
#customer-contact input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.5);
}
#customer-contact input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255,255,255,0.5);
}
.amount {
    color: #fff !important;
}
.white-border {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.white-border:focus {
    border-bottom: 2px solid rgba(255,255,255);
}
.white-border:active {
    border-bottom: 2px solid rgba(255,255,255);
}
#mobileRange {
	padding: 0;
/*   	height: 6px; */
    border: none;
}

#mobileRange {
  background: linear-gradient(to right, #DB9195 0%, #DB9195 15%, #fff 15%, #fff 100%);
  /* border: 1px solid #DB9195;
  border-radius: 8px; */
  height: 4px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#mobileRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #DB9195;
  cursor: pointer;
  box-shadow: 0px 6px 18px #23234c4d;
}

#mobileRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #DB9195;
  cursor: pointer;
  box-shadow: 0px 6px 18px #23234c4d;
}
#mobileRange::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background: #DB9195;
  	box-shadow: 0px 6px 18px #23234c4d;
}
.checkbox-container {
    display: flex !important;
    align-items: center;
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px !important;
    cursor: pointer;
    font-size: 16px !important;
    line-height: 30px !important;
    text-transform: none !important;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
  border: 2px solid #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
  border: 2px solid #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background-color: #DB9195;
}
